html,
body {
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}

* {
	margin: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 12px;
}