body {
    background-image: url("../images/background.png");
    background-size: cover;
}

#playlist-section {
	min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#playlist, 
div#player {
    width: 360px;
    height: 480px;
    background-color: #F3F4F8;
    border-radius: 20px;
}

#playlist-nav {
	margin-bottom: 20px;
}

#playlist-nav a{
	position: relative;
	top: 20px;
	left: 20px;

}

#playlist-nav p{
	color: #60558F;
	font-weight: 700;
	font-size: 17px;
	display: inline-block;
	position: relative;
	left: 180px;
	transform: translateX(-125%);
	/*line-height: 100px;*/
}

section#song-section {
	overflow-y: scroll; 
	height:380px;
}

#song-section .song {
	height: 80px;
	border-bottom: 1px solid #D3D5DE;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 25px;
	z-index: 1;
}

div.song-details {
	width: 85%;

}
div.social {
	width: 15%;
	display: flex;
	justify-content: space-between;
}

.fa-heart {
	color: #ED5E74;
}

.fa-share-alt {
	color: #60558F;
}

.song-time-and-author {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}

.song-time-and-author p {
	color: grey;
}

#song-title {
	color: #60558F;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}

.shadow-div {
	-webkit-box-shadow: 9px -5px 97px 33px rgba(255,255,255,1);
	-moz-box-shadow: 9px -5px 97px 33px rgba(255,255,255,1);
	box-shadow: 9px -5px 97px 33px rgba(255,255,255,1);
	z-index: 999;
}