body {
    background-image: url("../images/background.png");
    background-size: cover;
}

#playlist-section {
	min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#playlist{
    width: 360px;
    height: 480px;
    background-color: #F3F4F8;
    border-radius: 20px;
}

#playlist-nav {
	margin-bottom: 20px;
}

#playlist-nav a{
	position: relative;
	top: 20px;
	left: 20px;

}

#playlist-nav p, #player-nav div#songoptions{
	color: #60558F;
	font-weight: 700;
	font-size: 17px;
	display: inline-block;
	position: relative;
	left: 180px;
	transform: translateX(-125%);
}

section#song-section {
	overflow-y: scroll; 
	height:380px;
}

#song-section .song {
	height: 80px;
	border-bottom: 1px solid #D3D5DE;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 25px;
	z-index: 1;
}

div.song-details {
	width: 85%;

}
div.social {
	width: 15%;
	display: flex;
	justify-content: space-between;
}

.fa-heart {
	color: #ED5E74;
}

.fa-share-alt {
	color: #60558F;
}

.song-time-and-author {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}

.song-time-and-author p {
	color: grey;
}

.song-details p#song-title {
	color: #60558F;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}

.fa-arrows-alt {
	font-size: 20px;
	color: white;
	opacity: 1;
}

.fa-bars {
	font-size: 20px;
	color: grey;
	opacity: 1;
	margin-right: 20px;
}

div#player{
    width: 360px;
    height: 480px;
    background-color: #F3F4F8;
    background-image: url("../images/album-cover.png");
    background-repeat: no-repeat;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#player-nav,
#now-playing {
	background-color: #60558F;
	opacity: 0.8;
	height: 65px;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#now-playing {
	border-radius: 0;
	justify-content: center;
}

#now-playing div p{
	color: white;
	font-size: 15px;
	font-weight: 600;
}

#now-playing p#song-author{
	color: white;
	font-size: 13px;
	font-weight: 600;
}

#playing-options {
	height: 135px;
	background-color: #F3F4F8;
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#song-options {
	width: 100px;
	display: flex;
	justify-content: space-between;
	margin-right: -20px;
}