body {
    background-image: url("../images/background.png");
    background-size: cover;
}

::-webkit-scrollbar
{
  width: 7px;  
}

::-webkit-scrollbar-track
{
  background: rgba(243, 244, 248, 1);
}

::-webkit-scrollbar-thumb
{
	background: rgba(223,223,231, 0.8);
  margin-right: 20px;
  height: 70px;
  border-radius: 13%;
  /*background: rgba(255, 0, 0, 1);*/
  /*background: rgba(243, 244, 248, 0);*/
}






#playlist-section {
	min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#playlist{
    width: 360px;
    height: 480px;
    background-color: #F3F4F8;
    border-radius: 20px;
    padding-right: 20px;
}

#playlist-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	margin-right: 0px;
}


#playlist-nav p{
	color: #60558F;
	font-weight: 700;
	font-size: 17px;
}

section#song-section {
	overflow-y: scroll; 
	height:380px;
}

#song-section .song {
	height: 80px;
	border-bottom: 1px solid #D3D5DE;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 25px;
	z-index: 1;
}

div.song-details {
	width: 85%;

}
div.social {
	width: 15%;
	display: flex;
	justify-content: space-between;
}

.fa-heart {
	color: #ED5E74;
}

.fa-share-alt {
	color: #60558F;
}

.song-time-and-author {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}

.song-time-and-author p {
	color: grey;
}

.song-details p#song-title {
	color: #60558F;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}

.fa-arrows-alt {
	font-size: 18px;
	color: white;
}

.fa-bars {
	font-size: 20px;
	color: #85889f;
	margin-right: 20px;
}

div#main-player{
    width: 360px;
    height: 480px;
    background-color: #F3F4F8;
    background-image: url("../images/album-cover.png");
    background-repeat: no-repeat;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hidden {
	display: none !important;
}

#player-nav,
#now-playing {
	background: rgba(95, 86, 143, 0.8);
	height: 65px;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#now-playing {
	border-radius: 0;
	justify-content: center;
}

#now-playing div p{
	color: white;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
}

#now-playing p#song-author{
	color: white;
	font-size: 13px;
	font-weight: 600;
}

#playing-options {
	height: 135px;
	background-color: #EEEFF6;
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#song-options {
	width: 100px;
	display: flex;
	justify-content: space-between;
	margin-right: -20px;
}

a div#share,
.console-button {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.console-button {
	background-color: #60558f;
}

.player-console {
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.play-button-1 {
	height: 64px;
	width: 64px;
	background-color: white;
}

.play-button-2 {
	height: 54px;
	width: 54px;
	border: 1px solid white;
}

.fa-step-backward,
.fa-step-forward {
	color: white;
	font-size: 16px;
}

.fa-play,
.fa-pause {
	color: white;
	font-size: 20px;
}

#volume {
	height: 7px;
	background-color: white;
}

#set-volume {
	background-color: #ED5E74;
	width: 70%;
	height: inherit;
}

#set-volume .fa-arrows-alt {
	position: relative;
	left: 0px;
	top: 0px;
	color: #60558f;
}

.volume-button {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	left: 243px;
	top: -7px;
}




/*TO DO*/
/*.gray-circle {
	z-index: -1;
	background-color: gray;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: relative;
}*/